.button {
    background-color: green;
    border: 3px solid white;
    margin-top: 10px;
}

.button:hover {
    border: 3px solid white;
    cursor: pointer;
}

.button h5 {
    font-size: 20px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
}